@import url(https://myfonts.ru/myfonts?fonts=buyan);
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  margin: 0;
}
a {
  text-decoration: none;
  display: inline-block;
}
.container {
  max-width: 1440px;
  margin: 0 auto;
}

header {
  margin-top: 15px;
}
header .container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu-links {
  margin-right: 38px;
  font-weight: 700;
  font-size: 32px;
  transition: 0.5s;
}
a,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Buyan";
  color: white;
  margin: 0;
}
.menu-links:hover {
  scale: 1.25;
}
.welcome {
  background-image: url("../images/the-witcher 1.png");
  background-repeat: no-repeat;
  padding-bottom: 300px;
  background-size: cover;
  margin-top: -100px;
  padding-top: 335px;
}
.welcome .container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.btn {
  background: rgba(54, 54, 68, 0.5);
  box-shadow: 0px 0px 8.9px rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(7.1px);
  border-radius: 4px;

  font-weight: 700;
  font-size: 40px;
  text-shadow: 0px 0px 4.9px rgba(0, 0, 0, 0.7);
  padding: 12px 72px;
  margin-right: 66px;
  transition: 0.5s;
}
.btn:hover {
  opacity: 0.8;
  scale: 1.05;
}
.welcome-title {
  font-weight: 700;
  font-size: 64px;
  text-align: center;
  text-shadow: 0px 0px 4.9px rgba(0, 0, 0, 0.7);
  margin-bottom: 31px;
}
.welcome-logo {
  transition: 0.5s;
}
.welcome-logo:hover {
  scale: 1.05;
}
.cards {
  width: 559px;
  height: 296px;
  filter: drop-shadow(0px 0px 34px rgba(0, 0, 0, 0.6));
  text-align: center;
}
.cards-front,
.cards-back {
  position: absolute;
  transition: 0.5s;
}

.cards-front {
  background-image: url("/images/ciri.png");
  transform: perspective(600px) rotateY(0deg);
  backface-visibility: hidden;
  width: 559px;
  height: 296px;
  filter: drop-shadow(0px 0px 34px rgba(0, 0, 0, 0.6));
  display: flex;
  justify-content: center;
  align-items: end;
}
.cards-front-title {
  margin-bottom: 19px;
  font-weight: 700;
  font-size: 48px;
  text-shadow: 0px 0px 12.9px rgba(0, 0, 0, 0.7);
}
.cards-front img {
  width: 100%;
  height: auto;
}
.cards-back {
  transform: perspective(600px) rotateY(180deg);
  backface-visibility: hidden;
  background-color: #292d33;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
.cards-back-text {
  font-family: "Montserrat Alternates";
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-top: 14px;
}
.cards-back-img {
  position: absolute;
  bottom: 0;
}
.cards:hover > .cards-front {
  transform: perspective(600px) rotateY(-180deg);
}
.cards:hover > .cards-back {
  transform: perspective(600px) rotateY(0deg);
}

.story {
  padding-top: 36px;
  padding-bottom: 29px;
  background-color: #12161b;
}
.story .container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  gap: 42px;
}
.yen {
  background-image: url("/images/yen.png");
  background-repeat: no-repeat;
}
.wild {
  background-image: url("/images/wild.png");
}
.witchers {
  background-image: url("/images/witchers.png");
}
.story-title {
  font-weight: 700;
  font-size: 96px;
  text-shadow: 0px 0px 12.9px rgba(0, 0, 0, 0.7);
  text-align: center;
  margin-bottom: 32px;
}
.other .container {
  display: flex;
  justify-content: center;
}
.other {
  background-color: #12161b;
  padding-top: 36px;
  padding-bottom: 148px;
}

.other-title {
  font-weight: 700;
  font-size: 96px;
  text-align: center;
  text-shadow: 0px 0px 12.9px rgba(0, 0, 0, 0.7);
  margin-bottom: 70px;
}

.slider {
  position: relative;
  width: 600px;
  height: 400px;
  overflow: hidden;
  margin: auto;
}
.slider img {
  width: 100%;
  height: auto;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  position: absolute;
}

.slider img.active {
  opacity: 1;
}

.controls {
  position: absolute;
  bottom: 0%;
  left: 50%;
  width: 0%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

button {
  width: 10px;
  height: 10px;
  background-color: white;
  border: none;
  border-radius: 50%;
  transition: 0.25s;
  z-index: 1;
  margin-bottom: 5px;
}

button:hover {
  opacity: 0.5;
  cursor: pointer;
  scale: 1.25;
}

footer {
  padding: 10px 0;
}

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.photos-footer {
  display: flex;
  align-items: center;
}
.socset {
  margin-right: 30px;
}
.middle-footer {
  font-weight: 700;
  font-size: 20px;
  text-decoration-line: underline;
  transition: 0.5s;
}
.middle-footer:hover {
  scale: 1.1;
  opacity: 0.7;
}

.socials-link {
  transition: 0.5s;
}
.socials-link:hover {
  scale: 1.1;
  opacity: 0.7;
}
